APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:surn3MR15tEb++oZAI5ztJBurizLIwjIPmWopTZ00mI=
APP_DEBUG=false
APP_URL=https://qr-gatepass-system.onrender.com
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stderr
LOG_LEVEL=info

# =========================
# DATABASE (Render PostgreSQL)
# =========================
DB_CONNECTION=pgsql
DB_HOST=dpg-d5lj0514tr6s73c0b0f0-a
DB_PORT=5432
DB_DATABASE=qr_gatepass
DB_USERNAME=qr_gatepass_user
DB_PASSWORD=8h3eArbcahYk87LqULY0Z3G2866cQxBD

# =========================
# SESSION / CACHE / QUEUE
# =========================
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false

CACHE_STORE=database
QUEUE_CONNECTION=database

# =========================
# FILESYSTEM
# =========================
FILESYSTEM_DISK=local

# =========================
# BROADCAST
# =========================
BROADCAST_CONNECTION=log

# =========================
# MAIL
# =========================
MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# =========================
# REDIS (optional)
# =========================
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# =========================
# FRONTEND
# =========================
VITE_APP_NAME="${APP_NAME}"

# Optional: force view path if needed
VIEW_COMPILED_PATH=/var/www/html/storage/framework/views
